.imgcat{
    width: 100%;
}

.info{
    color: #666;
}

.price{
    font-weight: bold;
}

.buy{
    background-color: goldenrod;
    color: #fff;
    margin: 2%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.buy:hover {
    background-color: rgb(156, 119, 24);
}